.member-image { text-align: center; }
.startupo-logo-image {
  background: no-repeat center center url(/images/logo.png);
}

.startupo-description {
  h2 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
