section.event.row
  div.event-main-section.span8
    head
      h1.event-main-title= @event.name
    table.table.table-striped.table-condensed.table-bordered.event-basic-info
      tr
        td width="65px"= I18n.t('event.attributes.description')
        td.event_description= simple_format @event.description
      tr
        td width="65px"= I18n.t('event.attributes.duration')
        td.event_description= "#{l(@event.start_time, :format => :long)} #{I18n.t('to')} #{l(@event.end_time, :format => :long)}"
      tr
        td width="65px" 活動地點
        td.event_address= @event.address
      - if @event.price
        tr
          td width="65px"= '活動費用'
          td.event_price= @event.price
    div.share-div
      = render :partial => "shared/share_this"
  aside.event-aside.span4
    div.event-action
      = show_join_button(@event, current_user)
    div.event-map
      div.well
        h2 地圖
        br
        = link_to(image_tag(show_google_map(@event.latitude, @event.longitude), :id => "google-static-map"), link_to_google_map(@event.latitude, @event.longitude), :target => "_blank")
section.event.actions
  - if current_user && current_user.is_admin?
    = link_to I18n.t('event.update_this_event'), edit_admin_event_path(@event), :class => 'btn btn-primary'
