div.dashboard.row
  aside.span2
    div.well
      = render :partial => 'admin/dashboards/aside', :locals => { :id => 'startupo-my_responsibility' }
  div.span10
    = render 'list'
    =will_paginate @resources
