@import "compass/css3/border-radius";

#main-info {
  padding: 40px 0;
}

.bigImage {
  position: relative;
  background-color: white;
  background: url(/images/darkgrain.png);
  padding: 15px;
  @include border-radius(10px, 10px);
  .description {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 7px 20px;
    background: url(/images/pixel.png);
    color: white;
    @include border-radius(5px 5px);
  }
}

.preview {
  background: url(/images/darkgrain.png);
  background-color: white;
  padding: 5px 15px;
  min-height: 84px;
  margin-bottom: 20px;
  @include border-radius(10px 10px);
}
