.upcoming-event {
  h1 {
    color: #C30202;
  }
  .well-color {
    background-color: #F0EFE7;
    height: 270px;
  }
  .welcome-events {
    margin-bottom: 5px;
  }
}

.member {
  margin-bottom: 50px;
  .member-info {
    height: 400px;
  }
}
