- if controller_name != 'sessions'
  = link_to I18n.t('user.devise.sign_in'), new_session_path(resource_name), :class => 'btn btn-success'
  br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to I18n.t('user.devise.sign_up'), new_registration_path(resource_name)
  br/
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to I18n.t('user.devise.forget_password?'), new_password_path(resource_name)
  br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to I18n.t('user.divise.hint.didnt_receive_confirmation_mail?'), new_confirmation_path(resource_name)
  br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to I18n.t('user.divse.hint.didnt_receive_unlock_mail?'), new_unlock_path(resource_name)
  br/
/- if devise_mapping.omniauthable?
  /- resource_class.omniauth_providers.each do |provider|
    /= link_to "#{I18n.t('user.deivse.sign_in_with')} #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    /br/
